*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#hero-container{
   padding:0 !important;
   margin: 0 !important;
   width:100%;
}

#hero-section{
    position: relative;
    height: 100vh;
    width:100%;
    overflow:hidden;
}

#hero-image{
    position:absolute;
    height:100vh;
    width:100%;
    object-fit:cover;
    
     
    
}

#hero-containt{
position:relative !important;
    display:flex;
    flex-direction:column;
   
    align-items:center !important;
    margin-top: 260px;
    color:white;
    text-shadow:0px 0px 10px rgb(113, 107, 107);
    /* text-shadow:0 0 10px #DAA520; */
    padding:10px;
}

#heroh1{
   font-size:3rem;
   text-align: center;
}

#heroh2{
  font-size: 2rem;
  margin-top:20px;
   text-align: center;
}

#herobtn{
   background-color:#DAA520;
   margin-top:30px; 
   font-weight: bold;
   box-shadow:0px 0px 10px rgb(0, 0, 0);
}

#blog-container{
    position:relative;
    display: block;
    

}

#blog-heading1{
    font-size:2.5rem;
    margin-left:10px;

}

#blog-heading2{
    font-size:1.5rem;
    font-weight:400;
    margin:20px 0 0 10px;
    color:rgba(0, 0, 0, 0.537); ;
}



#catogery-list-group{
  display: flex;
 list-style-type:none;
 gap:40px;
 font-size:1.3rem;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 cursor: pointer;
width:100%;
justify-content: center;
}

#catogery-list-items{
    margin-top:20px;
    padding:5px;
}
#catogery-list-items:hover{
   background-color:rgba(0, 0, 0, 0.077);
   border-radius:4px;
}

#row-con{
    margin:20px 0 0 10px;
   gap:10px;
   /* border:1px solid black; */
   display: flex;
   justify-content: center !important;
  
}
#blog-container1{
  width:400px;
  
  
   

}

#blogcard{
    height:600px;
    max-height:440px;
    max-width: 400px;
    /* border:1px solid black;  */
   
   
  
}
#blogcard:hover{
    box-shadow:0px 0px 4px black;
}

#blog-img{
    height:250px;
    max-width:380px;
    max-height:250px;
    /* margin:10px 0 0 10px; */
    object-fit:cover;
   

}

#card-createddata{
    margin:0px 0 0 10px;
    color: grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding:3px;
}

#card-title{
   margin:0px 0 0 10px; 
   font-size:1.1rem;
   font-weight: bold;
   padding:3px;
}

#card-description{
    padding:3px;
    margin:0px 0 0 10px; 
    font-size:1rem; 
      color: grey;
}

#author-title{
    display: flex;
     padding:3px;
    margin:0px 0 0 10px; 
    font-size:1.1rem; 
       color: grey;
}

#card-author{
     
     padding:3px;
    margin:0px 0 0 10px; 
    font-size:1.3rem; 
      color:black;
}

@media only screen and (max-width:768px) {
 
#hero-containt{
position:relative !important;
    display:flex;
    flex-direction:column;
   
    align-items:center !important;
    margin-top:150px;
    color:white;
    text-shadow:0px 0px 10px rgb(113, 107, 107);
    /* text-shadow:0 0 10px #DAA520; */
    padding:10px;
}
#heroh1{
   font-size:2rem;
   text-align: center;
}

#heroh2{
  font-size: 1.5rem;
  margin-top:20px;
   text-align: center;
}



#herobtn{
   background-color:white;
    
   margin-top:20px; 
   font-weight: bold;
   box-shadow:0px 0px 10px rgb(0, 0, 0);
 
}

#catogory{
  padding:0 !important;
}

#catogery-list-group{
  font-size:14px;
  width:100%;
  gap:13px;
  padding: 0 !important; 
}



#row-con{
    margin-top:10px;
   gap:20px;
   width:100%;
   /* border:1px solid black; */
   display: flex;
   justify-content: center !important;
}
}

@media only screen and (max-width:320px) {
    
#catogery-list-group{
  font-size:11px;
  width:100%;
  gap:13px;
  padding: 0 !important; 
}
}